<div class="displaycontainer">

<% @show.each do |thing| %>
<div class="browse_images">
  <%= link_to product_path(thing), class: 'thumbnail' do %>

    <%= image_tag thing.photo_url, class: "img-responsive" %>
  <%end%>

  <%= link_to thing[:name],product_path(thing) %>
   <br />
</div>
<% end %>
</div>
