<h1>Traverse</h1>
<p>traverse the universe!</p>



<h2> Featured Products: </h2>
<%= 8.times each do |image| %>
  <%=image_tag randomized_image  %>
<% end %>
<!-- <% @products.each do |prod| %>
  <%= image_tag prod.photo_url %>
<% end %> -->

<%= image_tag "african-baskets.png" %>
