<h2>Orders</h2>
<ul>
<% @orders.each do |order| %>
    <%# link_to order.product, order_path(order.id) %>
    <li>Order: <%= link_to order.order_number, order_path(order.id) %></li>
<% end %>
</ul>

<p>test</p>
