<h2>Orders</h2>
<%= link_to "Proceed to Checkout", new_order_path, class: "btn btn-primary" %>
<ul>
  <% @orders.each do |order| %>
      <%# link_to order.product, order_path(order.id) %>
      <li>Order: <%= link_to order.order_number, order_path(order.id) %></li>
  <% end %>
</ul>
