<h2>The order: <%# order.status %>, <%# order.user %><%= @order %></h2>

<p>Items:</p>
  <ul>
  <% @order.order_items.each do |item| %>
    <%= item.status %>, <%= item.name %>, <%= item.quantity %>, <%# item.user %></li>
  <% end %>
  </ul>
