// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @medium_blue = #ABD6EB

.subheader {
  font-size: 1.2rem;
}

tr.main-order td {
  background-color: #86B7CE;
}

.shipped_checkbox {
  display: inline-block;
}

.order-number a {
  color: white;
}
