<div class="col-md-9">
  <div class="profile-content">
    <h2>Welcome <strong><%= @user.username.capitalize %>!</strong> </h2>
    <% if @user.merchant == true %>
      <% @products.each do |product|%>
        <% @product = product %>
        <!-- PROD. ITEM -->
        <div class="product-container">
        <div class="whole-product">
        <div class="product">
          <div class="thumbnail">
            <!-- IMAGE CONTAINER-->
            <%= link_to product_path(product.id) do %>
              <%= image_tag product.photo_url, class: "img-responsive" %>
            <% end %>
            <!--END IMAGE CONTAINER-->
            <!-- CAPTION -->
            <div class="caption">
              <h3 class=""><%= product.name%></h3>
            </div>
            <!--END CAPTION -->
          </div>
          <!-- END: THUMBNAIL -->
        </div>
        <!-- PROD. ITEM -->
        </div>
      </div>
      <%end%>
    <%else%>
      <p>Sign up to be a merchant again!<p>
    <%end%><br /><br />
  </div>
</div>
</div>
</div>

<center>
<strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">TEAm</a></strong>
</center>
